body {
    background-color: rgb(7, 144, 60);
    font-family: Arial;
}

h1 {
    color: rgb(26, 193, 11);
    text-align: center;
}


p {
    color: rgb(0, 0, 0);
    font-size: 18px;
}

h3 {
    color: rgb(86, 191, 11);
    text-align: center;
    font-size: 30px;
}

.foto {
    width: 300px;
    border-radius: 20px;
    border: 4px solid rgb(14, 192, 223);
    display: block;
    margin: auto;
};